
h1 {
    font-size:24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    font-style: bold;
}
footer {
    font-size:24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    font-style: bold;
}
.footer1{
    position: fixed;
    background-color: rgb(41, 37, 37);
    text-align: center;
    bottom: 0px;
    width: 100%;
}
    
div {
    text-align: center;
    
}
p{
    font-size:16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    font-style: bold;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: rgb(41, 37, 37);
    background-image: url('Images/synapsex.png');
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    font-size:1.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    font-style: bold;
}
.footer {
 position: fixed;
 left: 0;
 bottom: 0;
width: 100%;
color: white;
padding: 10px;
}

.header1 {
    text-align: center;
    font-size:1.5em;
    color: aliceblue;
    background-color: rgb(36, 32, 32);
    width: 50%;
    margin: auto;
    height: 20%; 
    padding-top: 25px;
    padding-bottom: 25px;
    font-style: bold;
}

.header2 {
    text-align: center;
    font-size:1.5em;
    color: aliceblue;
    width: 50%;
    margin: auto;
    height: 20%; 
    padding-top: 80px;
    padding-bottom: 60px;
    font-style: bold;
}

.flex {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 6%;
}

.navbar {
    text-align: center;
    font-size:24px;
    color: aliceblue;
    text-decoration: none;
    padding: 20px;
    padding-top: 20px;
    font-style: italic ;
    font-style: bold;
}
.coolwebsites {
    text-align: center;
    font-size:25px;
    color: aliceblue;
    font-style: bold;
    text-decoration: none;
    padding: 20px;
    }

.imagesussy {
    position: fixed;
    top: 400px;
    left: 1600px;
}

.imagesussy2 {
    position: fixed;
    top: 680px;
    left: 140px;
}

.bodyaboutme {
    background-image: url('CI/extremelysusimposter.png');
}

a:hover {
    color: yellow;
  }


  .main {
    text-align: center;
    font-size:26px;
    color: aliceblue;
    font-style: bold;
    padding-top: 20px;
  }

  .changelog {
      background-color: rgb(31, 27, 27);
      
  }
