
h1{
    font-size:3em;
    font-family: sans-serif;
    color: aliceblue;
}
p{
    font-size:1.5em;
    font-family: sans-serif;
    color: aliceblue;
    font-style: italic;
    font-style: bold;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: rgb(41, 37, 37);
    background-image: url(Images/wp2856121.gif);
}
a{
    font-size:1.5em;
    font-family: sans-serif;
    color: aliceblue;
}
.footer {
 position: fixed;
 left: 0;
 bottom: 0;
width: 100%;
color: white;
padding: 10px;
}